@charset "UTF-8";.full-screen-left {
    left: 0!important;
    z-index: 2000
}

.full-screen-right {
    right: 0!important;
    z-index: 2000
}

::-moz-selection {
    background-color: #87bba2;
    color: #364958
}

::selection {
    background-color: #87bba2;
    color: #364958
}

ul {
    list-style-type: none;
    margin: 0!important;
    padding: 0!important
}

a,a:active,a:focus,a:visited {
    text-decoration: none!important
}

img {
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

section {
    overflow-x: hidden
}

@-webkit-keyframes move-left-to-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(10.6rem);
        transform: translateX(10.6rem);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        visibility: visible
    }
}

@keyframes move-left-to-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(10.6rem);
        transform: translateX(10.6rem);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        visibility: visible
    }
}

@-webkit-keyframes move-right-to-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-10.6rem);
        transform: translateX(-10.6rem);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        visibility: visible
    }
}

@keyframes move-right-to-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-10.6rem);
        transform: translateX(-10.6rem);
        visibility: hidden
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        visibility: visible
    }
}

.main {
    background-image: url(../assets/background.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    -webkit-transition: background-image 1s ease-in 0s;
    -o-transition: background-image 1s ease-in 0s;
    transition: background-image 1s ease-in 0s;
    width: 100vw
}

.main:before {
    background-color: rgba(0,0,0,.918);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200
}

.preloader {
    background: #000;
    height: 100vh;
    left: 0;
    position: fixed;
    -webkit-transition: opacity .3s linear 0s;
    -o-transition: opacity .3s linear 0s;
    transition: opacity .3s linear 0s;
    z-index: 9999999999999
}

.home,.preloader {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%
}

.home {
    background-color: transparent;
    height: 100%;
    left: -100%;
    opacity: 1;
    position: absolute;
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    visibility: visible
}

.home .container {
    z-index: 300
}

.home__img {
    border: .6rem solid #c9e4ca;
    border-radius: 35%;
    height: 18rem;
    overflow: hidden;
    padding: 0.6rem;
    width: 18rem
}

@media (max-width: 767.98px) {
    .home__img {
        height:14rem;
        margin-bottom: 1.1rem;
        width: 14rem
    }
}

.home__img img {
    border-radius: 35%;
    height: 100%;
    -webkit-transition: -webkit-transform .4s ease-in 0s;
    transition: -webkit-transform .4s ease-in 0s;
    -o-transition: transform .4s ease-in 0s;
    transition: transform .4s ease-in 0s;
    transition: transform .4s ease-in 0s,-webkit-transform .4s ease-in 0s;
    width: 100%
}

.home__img:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.home__info {
    color: #c9e4ca
}

@media (min-width: 992px) {
    .home__info {
        letter-spacing:.1rem
    }
}

.home__info__title {
    border-radius: 1.2rem;
    font-size: 3.2rem;
    margin-left: auto;
    margin-right: auto;
    padding: .3rem 1rem;
    position: relative;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.home__info__title span {
    background-color: #55828b;
    border-radius: .6rem;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width .4s ease 0s;
    -o-transition: width .4s ease 0s;
    transition: width .4s ease 0s;
    width: 0;
    z-index: -1
}

.home__info__title:hover span {
    width: 100%
}

.home__info__desc {
    font-size: 1.2rem;
    width: 100%
}

@media (max-width: 991.98px) {
    .home__info__desc {
        font-size:1.6rem;
        margin-bottom: 2rem;
        margin-top: 2rem
    }
}

.home__info__btn {
    overflow: hidden
}

.home__info__btn:after {
    background-color: hsla(0,0%,45%,.418);
    border-radius: 1rem;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform .3s ease-in 0s;
    transition: -webkit-transform .3s ease-in 0s;
    -o-transition: transform .3s ease-in 0s;
    transition: transform .3s ease-in 0s;
    transition: transform .3s ease-in 0s,-webkit-transform .3s ease-in 0s;
    width: 100%;
    z-index: 250
}

.home__info__btn:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left
}

.home__info__btn:hover {
    color: #0f4c5c
}

.custom-btn {
    background-color: #c9e4ca;
    border-radius: 1rem;
    color: #364958;
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    padding: .6rem .2rem;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 13rem
}